{% extends "layout.html" %}

{% block content %}

<div class="row">
  <h1>Youtube Party!</h1>
</div>

<div class="row">
  <div class="large-4 columns">
    <form method="post">
      <fieldset>
        <legend>Create a room</legend>
        <div class="row">
          <div class="large-12 columns">
            <input type="text" name="room-name" placeholder="name your room!">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <button type="submit">Upload</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>





{% endblock %}
