{% extends "layout.html" %}

{% block content %}


<div class="row">
  <div class="small-6 large-centered columns">
  <h1>Youtube Together</h1>
  </div>
</div>

<div class="row">
  <div class="small-6 large-centered columns">
    <form method="post">
      <fieldset>
        <legend>Create a room</legend>
        <div class="row">
          <div class="large-12 columns">
            <input type="text" name="room-name" placeholder="Enter name here!">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <button type="submit">Create</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div class="row">
  <div class="panel small-6 large-centered columns">
  <h3>Collaboratively Share Youtube Playlists</h3>
  <p>
  Designed for sharing music. Create a name for a room, give others the code, upload video links, and listen to them play.
  </p>
  </div>
</div>


<div class="row">
  <div class="small-6 large-centered columns">
  <h3>How it works</h3>
  </div>
</div>


<div class="row">
  <div class="small-6 large-centered columns">
  <h5>Create a room</h5>
  <p>
  Simply type in a name for the room, such as a location or theme, and press create. You're automatically redirected to your new room.
  </p>
  </div>
</div>


<div class="row">
  <div class="small-6 large-centered columns">
  <h5>Share the code</h5>
  <p>
  Each room comes with a six digit code to share. Give it to friends to collaboratively create a playlist everyone is happy with. Or share it with the world and see what bizzare videos show up in the feed.
  </p>
  </div>
</div>


<div class="row">
  <div class="small-6 large-centered columns">
  <h5>Select videos</h5>
  <p>
  Useing the builtin search functionality, search for the video you want to queue right from the room. Click the upload button and watch as it's put in the playlist.
  </p>
  </div>
</div>





{% endblock %}
